:root {
  --primary-text-colour: #fff9d8;
  --primary-text-size: 4vmax;
}

body {
  background: #000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
}

.letter {
  user-select: none;
  font-weight: normal;
  font-size: 10rem;
  position: absolute;
  opacity: 0.5;
  color: var(--primary-text-colour);
  text-transform: initial;
  animation: fadeOut 2s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s 1 normal forwards;
  /* filter: hue-rotate(90deg); */
}

/*************/
/* Animation */
/*************/

@keyframes fadeOut {
  40% {
    color: #ffcd60;
  }
  60% {
    color: #ff8800;
  }
  80% {
    color: #ff0000;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    color: #9c0000;
  }
}

/*******************/
/* Background text */
/*******************/

.heading {
  position: relative;
  opacity: 0.75;
}

.bg-text-container {
  position: relative;
}

.bg-text, .bg-text-done, .heading {
  font-size: var(--primary-text-size);
  color: var(--primary-text-colour);
  user-select: none;
}

.bg-text {
  position: absolute;
  top: 0;
  opacity: 0.25;
}

.bg-text-done {
  position: absolute;
  top: 0;
  opacity: 0.5;
}